<% layout("/layouts/boilerplate")%>

    <div class="row">
        <div class="col-8 offset-2 mt-2">
            <h3>Create A New Listing</h3>
    <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control" required>
            <div class="invalid-feedback">Enter a relevant title</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" cols="30" rows="3" placeholder="write description" class="form-control" required></textarea>
            <div class="invalid-feedback">please enter a short description</div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input type="file" name="listing[image]" class="form-control" required>
        </div>
        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label" >Price</label>
            <input  name="listing[price]" placeholder="1200" class="form-control" required>
        </div>
            <div class="invalid-feedback">Enter a valid price</div>
        <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" placeholder="jaipur, Rajasthan" class="form-control" required>
            <div class="invalid-feedback">Enter a correct location</div>
        </div>
    </div>
        <div class="mb-3">
            <label for="title" class="form-label">Country</label>
            <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
            <div class="invalid-feedback">Enter a correct county name</div>
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">Category</label>
            <select name="listing[category]" id="category" class="form-select">
                <option selected>Open this select menu</option>
                <option value="Rooms">Rooms</option>
                <option value="Trending">Trending</option>
                <option value="Iconic Cities">Iconic Cities</option>
                <option value="Mountains">Mountains</option>
                <option value="Castles">Castles</option>
                <option value="Amazing Pool">Amazing Pools</option>
                <option value="Arctic">Arctic</option>
                <option value="Farms">Farms</option>
                <option value="Camping" >Camping</option>
            </select>
        </div>
        <button class="btn btn-dark add-btn mb-2">Add</button>
    </form>
</div>
</div>

